In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [26]:
df=df.drop(columns=['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'])
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [27]:
inputs=df.drop('Survived',axis='columns')
target=df['Survived']

In [28]:
from sklearn.preprocessing import LabelEncoder
model=LabelEncoder()

In [29]:
l_Pclass=LabelEncoder()
l_Sex=LabelEncoder()
l_Age=LabelEncoder() 
l_Fare=LabelEncoder()

In [30]:
inputs['Pclass1']=l_Pclass.fit_transform(inputs['Pclass'])
inputs['Sex1']=l_Sex.fit_transform(inputs['Sex'])
inputs['Age1']=l_Age.fit_transform(inputs['Age'])
inputs['Fare1']=l_Fare.fit_transform(inputs['Fare'])

In [31]:
inputs

     Pclass     Sex   Age     Fare  Pclass1  Sex1  Age1  Fare1
0         3    male  22.0   7.2500        2     1    28     18
1         1  female  38.0  71.2833        0     0    51    207
2         3  female  26.0   7.9250        2     0    34     41
3         1  female  35.0  53.1000        0     0    47    189
4         3    male  35.0   8.0500        2     1    47     43
..      ...     ...   ...      ...      ...   ...   ...    ...
886       2    male  27.0  13.0000        1     1    35     85
887       1  female  19.0  30.0000        0     0    24    153
888       3  female   NaN  23.4500        2     0    88    131
889       1    male  26.0  30.0000        0     1    34    153
890       3    male  32.0   7.7500        2     1    42     30

[891 rows x 8 columns]

In [40]:
inputs=inputs.drop(['Pclass','Sex','Age','Fare'],axis='columns')

KeyError: "['Pclass', 'Sex', 'Age', 'Fare'] not found in axis"

In [48]:
print(inputs.head(10))
print(target.head(10))

   Pclass1  Sex1  Age1  Fare1
0        2     1    28     18
1        0     0    51    207
2        2     0    34     41
3        0     0    47    189
4        2     1    47     43
5        2     1    88     51
6        0     1    69    186
7        2     1     6    124
8        2     0    35     74
9        1     0    18    154
0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Survived, dtype: int64

In [42]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [44]:
model.fit(inputs,target)

DecisionTreeClassifier()

In [50]:
model.predict([[2,1,6,125]])

C:\Users\Nikita\anaconda\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)